.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.App-header .header-pic {
  background: url("https://i.imgur.com/YkYoZQ3.png");
  width: 80vw;
  height: 750px;
  background-size: cover;
  justify-self: flex-end;
}

.App-header .titles {
  margin: 60px 0 0;
}

.App-header .titles h2 {
  color: black;
  font-size: 64px;
  width: 35vw;
}

.App-header .titles p {
  color: black;
  margin-top: -26px;
  margin-bottom: 30px;
}

.App-header .titles button {
  margin-top: -5px;
  background: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 100px;
  transition: all 0.3s ease;
  background: #333;
  color: #fff;
  outline: none;
  letter-spacing: 0.9px;
}

.App-header .titles button:hover {
  transform: scale(1.1);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
}

#mc_embed_signup .email {
  font-size: 20px;
  padding: 3px;
  outline: none;
  border-radius: 100px;
  border: 1px solid #333;
  padding-left: 14px;
}

#mc_embed_signup .btn-submit {
  /* background: #000; */
  font-size: 18px;
  height: 32px;
  border: 1px solid #333;
  background: #333;
  cursor: pointer;
  color: #fff;
  margin-left: 20px;
  padding: 0 16px;
  border-radius: 100px;
}

#mc_embed_signup .btn-submit:hover {
  /* background: #000; */
  background: #333;
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.info {
  background-color: #111;
  height: 800px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  width: 70%;
}

.info h3 {
  color: #fff;
  font-size: 100px;
  margin: 0px;
  text-align: left;
}

.big-color-title {
  /* font-size: 100px; */
  background-repeat: no-repeat;
  background-image: url(/text_bg.jpg);
  background-size: cover;
  background-position: center bottom;
  -webkit-background-clip: text;
  color: transparent !important;
  /* display: inline-block; */
}

.info p {
  color: #eee;
  width: 40vw;
  margin-top: -20px;
  font-size: 24px;
  margin-top: 50px;
  text-align: left;
}

.footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .words h3 {
  font-size: 36px;
  margin: 0;
}

.footer .words p {
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: 24px;
}

@media only screen and (max-width: 840px) {
  .App-header .landing {
    height: 240px;
    width: 100vw;
    background-position: 50%;
    bottom: 0;
    position: absolute;
  }

  .App-header .titles {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 90vw;
    margin: 0 auto;
  }

  .App-header .titles h2 {
    font-size: 48px;
    margin-top: 80px;
    width: 90vw;
    text-align: center;
  }

  .App-header .titles p {
    font-size: 22px;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .App-header .titles button {
    margin: 20px 0 40px;
  }

  .App-header .header-pic {
    width: 100vw;
    height: 300px;
    background-size: cover;
  }

  #mc_embed_signup {
    margin-top: 40px;
  }

  .title-wrapper {
    width: 90%;
  }

  .info p {
    width: 80vw;
  }

  .info h3 {
    font-size: 50px;
  }

  .footer #mc_embed_signup {
    margin-top: 0px;
  }

  .footer {
    height: 400px;
  }

  #mc_embed_signup .btn-submit {
    margin-left: 0;
    margin-top: 5px;
  }
}
